
h1{
color: #3A3A3A;
margin-left: 80px;
margin-bottom: 100px;

}

h3{
    font-size: 25px;   
    margin-bottom: 10px;

}

.heading{
    display:flex;
    margin-bottom: 100px;
}

.clr{
    color: orange;
}
.font{
    width: 40%;
    padding-left: 10%;
    grid-row-gap: 10px;
    
    
}
.font img{
    width: 80%; padding-left: 190px;

}
.link{
    border-radius: 16px;
    text-decoration: none;
    background-color: #E02C6D;
   
    Width :140px;
    Height :30px;
    padding:20px 40px;
    font-weight: 400;
    
}
.fas{
    color:white;
    font-size: 16px;
}

.center{
    text-align:center;
    color: salmon;
}
 img{
     width: 40%;
 }


/* photos */
.container{
    background-color: #FFFFFF;
    Width :870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
   
   
}
.photo{
    margin-bottom: 30px;
}
.photo-price{
    font-size: 20px;
}
.title{
    text-align: center;
    padding-left: 375px;
    color: #3A3A3A;
    font-size: 30px;
}
.photos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 45px;
    grid-row-gap: 35px;
     
    border-radius:  2px solid hotpink;
    padding-left: 220px;
    margin-bottom: 30px;
    
   
}
.photo .photo-banner img{
    width: 266px;
    height: 141px;
     
}
.photo-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:#FFC014 ;
}
.table-heading{
    text-align: center;
    color: #3A3A3A;
    font-size: 30px;

}
table {
   width: 900px;
   margin: auto;
   table-layout: fixed;
   text-align: center;
}

td,
th {
    border: 5px solid seagreen;
    border-collapse: collapse;
    padding: 30px;
    font-size: 20px;

}
th{
    background: steelblue;
    text-transform: uppercase;
}
td:nth-child(2n)
{
    background-color:rosybrown
}
td:nth-child(2n+1)
{
    background-color: slategrey;
}
footer{
    background-color:darkslateblue;
    height: 200px;
    width:100vw;
    color: white;
}
.footer-content{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
   align-items: center;
   
}
.footer-content h3{
    font-size: 30px;
    font-weight: 400;margin-top: 10px;
    
}
.social{
    list-style: none;
    display: flex;
    
   
}
.social li{
    margin: 10px;
    align-items: center;
    padding-right: 15px;
}